<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<%- include("progetGeneral/src/components/hero-section/hero-section.ejs") %>
		<%- include("progetGeneral/src/components/fashion-blog/fashion-blog.ejs") %>
			<%- include("progetGeneral/src/components/subscribe/subscribe.ejs") %>
				<%- include("progetGeneral/src/components/footer/footer.ejs") %>
					<script src="/progetGeneral/src/components/hero-section/hero-section.js"></script>
</body>


</html>