html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 11px 0;
  background-color: #1E212C;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-list__item {
  margin-right: 16px;
  margin-left: 16px;
}

.header-nav__tel,
.nav-list,
.header-lang {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  opacity: 0.6;
}

.lang-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-nav__tel-link {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  opacity: 0.6;
}

.header-login {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-left: 70px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 60px;
  margin-right: 130px;
}

.header-menu-list__item {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}

.header-saved {
  margin-left: 50px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.322);
}

.header-menu-list__item_active {
  color: #FF4242;
}

.menu-search-text {
  font-size: 14px;
  line-height: 1.5;
  padding: 11px 235px 12px 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
}

.header-saved-img {
  margin-right: 9px;
}

.header-basket-img {
  margin-right: 10px;
}

.header-basket-number {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  background: #03CEA4;
  border-radius: 4px;
  padding: 6px 10px;
}

.carousel-header {
  text-align: center;
  background: #17696A;
  padding-top: 8px;
  padding-bottom: 8px;
}

.carousel-header-text {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
}

.carousel-header-link {
  font-size: 12px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.carousel-header-img {
  padding-right: 18px;
  padding-left: 18px;
}

.hero-section {
  background-image: url(/progetGeneral/src/img/hero-section-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
}

.hero-section__wrap {
  width: 50%;
  margin-left: 15%;
  padding-top: 8%;
}

.hero-section-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-section-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #1E212C;
  margin-top: 12px;
  margin-bottom: 60px;
}

.hero-section__right {
  position: absolute;
  left: 2%;
  top: 50%;
  color: #000;
  background: #fff;
  border-radius: 50%;
  padding: 17px 15px;
}

.hero-section__left {
  position: absolute;
  left: 94%;
  top: 50%;
  color: #000;
  background: #fff;
  border-radius: 50%;
  padding: 17px 15px;
}

.slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 15%;
  margin-top: 180px;
}

.slider-list__item {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.5;
  color: #424551;
  border-bottom: 2px solid #424551;
  margin-left: 3px;
  padding: 0 150px 12px 0;
  opacity: 0.3;
}

.slider-list__item_active {
  opacity: 1;
}

.hero-section-photo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 92%;
  left: 15%;
}

.hero-section-photo-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #424551;
  margin-right: 30px;
}

.hero-section-photo-list__item-img {
  padding-bottom: 16px;
}

.green-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
  border: 1px solid #17696A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 0 40px;
  margin-right: 24px;
}

.white-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  background: #17696A;
  border: 1px solid #17696A;
  border-radius: 4px;
  padding: 0 40px;
}
/*# sourceMappingURL=styles.css.map */