<div class="sub-content__agree">
	<input type="checkbox" name="" id="sub-content__confirm-field">
	<label for="sub-content__confirm-field" class="sub-content__confirm-text">I agree to receive communications from
		Createx Store.</label>
</div>