<div class="sub-content__checkbox">
	<button class="sub-content__checkbox-btn sub-woman">Woman</button>
	<button class="sub-content__checkbox-btn sub-man">Man</button>
	<button class="sub-content__checkbox-btn sub-girls">Girls</button>
	<button class="sub-content__checkbox-btn sub-boys">Boys</button>
</div>