<div class="sub-content__input">
	<div class="sub-content__input-text">Email</div>
	<input type="email" placeholder="Your email address" id="email" class="sub-content__input-form">
	<button class="sub-content__input-btn">Subscribe</button>
</div>