<div class="subscribe">
	<div class="subscribe__container">
		<%- include("src/components/Subscribe/subscribe-card.ejs") %>
			<%- include("src/components/Subscribe/subscribe-image.ejs") %>
	</div>
</div>