.subscribe {
	width: 1920px;
	height: 546px;
	background: #f4f5f7;
}
.subscribe__container {
	display: flex;
	margin-left: 345px;
	margin-right: 345px;
	justify-content: space-between;
}
.subscribe__card {
	position: relative;
	margin-top: 100px;
}
.subscribe__title {
	color: #1e212c;
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	margin-bottom: 24px;
}
.sunscribe__subtitle {
	color: #787a80;
	font-size: 20px;
	line-height: 150%;
	display: block;
	margin-bottom: 37.5px;
}
.subscribe__checkbox {
	display: flex;
}
.subscribe__button {
	height: 32px;
	margin-right: 12px;
	color: #787a80;
	border: 1px solid #d7dadd;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: #fff;
	margin-bottom: 32px;
}
.woman {
	width: 82px;
}
.man {
	width: 61px;
}
.girls {
	width: 62px;
}
.boys {
	width: 63px;
}
.subscribe__button:focus {
	color: #fff;
	background-color: #17696a;
}
.subscribe__text {
	display: block;
	margin-bottom: 8px;
	color: #424551;
	font-size: 16px;
	line-height: 160%;
}

.subscribe__input {
	border: 1px solid #d7dadd;
	box-sizing: border-box;
	border-radius: 4px;
	background: #ffffff;
	width: 495px;
	height: 52px;
	padding-left: 16px;
	margin-bottom: 24px;
}
.subscribe__input:focus:valid {
	background-color: rgba(3, 206, 164, 0.1);
	background-image: url(/progetGeneral/src/img/yes.svg);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position-x: 320px;
	background-position-y: center;
}
.subscribe__input:invalid {
	border: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
	background-image: url(/progetGeneral/src/img/no.svg);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position-x: 320px;
	background-position-y: center;
}

.subscribe__input-button {
	background: #17696a;
	border-radius: 0px 4px 4px 0px;
	width: 154px;
	height: 52px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 52px;
	position: absolute;
	right: 0px;
}
.subscribe__input-button:hover {
	background: #104a4b;
}
.subscribe__info {
	color: #424551;
	font-size: 16px;
	line-height: 160%;
	padding-left: 12px;
}

input[type="checkbox"] {
	height: 16px;
	width: 16px;
}
.subscribe__image {
	margin-top: 65px;
	margin-bottom: 65px;
}
