<div class="subscribe__checkbox">
	<%- include("progetGeneral/src/components/Subscribe/subscribe-btn.ejs", { title: 'Woman' , className: 'woman' }) %>
		<%- include("progetGeneral/src/components/Subscribe/subscribe-btn.ejs", { title: 'Men' , className: 'man' }) %>
			<%- include("progetGeneral/src/components/Subscribe/subscribe-btn.ejs", { title: 'Girls' , className: 'girls'
				}) %>
				<%- include("progetGeneral/src/components/Subscribe/subscribe-btn.ejs", { title: 'Boys' , className: 'boys'
					}) %>
</div>