<div class="subscribe__checkbox">
	<button class="subscribe__button woman">Women</button>
	<button class="subscribe__button man">Men</button>
	<button class="subscribe__button girls">Girls</button>
	<button class="subscribe__button boys">Boys</button>
</div>