.sub-container {
	background-color: #f4f5f7;
	width: 1920px;
	height: 546px;
	margin-top: 92px;
}
.sub-wrapper {
	display: flex;
	justify-content: space-around;
}
.sub-content {
	padding-top: 100px;
	margin-left: 345px;
	margin-right: 274px;
}
.sub-content__title {
	color: #1e212c;
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	margin-bottom: 24px;
}
.sub-content__sub-title {
	color: #787a80;
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 37.5px;
}
.sub-content__checkbox {
	display: flex;
	align-items: center;
}
.sub-content__checkbox-btn {
	background: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #787a80;
	border: 1px solid #d7dadd;
	box-sizing: border-box;
	border-radius: 4px;
	margin-right: 12px;
	margin-bottom: 32px;
}
.sub-content__checkbox-btn:focus {
	color: #fff;
	background: #17696a;
}
.sub-woman {
	width: 82px;
	height: 32px;
}
.sub-man {
	width: 61px;
	height: 32px;
}
.sub-girls {
	width: 62px;
	height: 32px;
}
.sub-boys {
	width: 63px;
	height: 32px;
}
.sub-content__input {
	position: absolute;
}
.sub-content__input-text {
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	margin-bottom: 8px;
}
.sub-content__input-form {
	width: 341px;
	height: 52px;
	background: #ffffff;
	border: 1px solid #d7dadd;
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 16px;
}
input:focus {
	outline: none;
	border-color: #17696a;
}
.sub-content__input-btn {
	position: absolute;
	left: 341.5px;
	top: 34px;
	background: #17696a;
	border-radius: 0px 4px 4px 0px;
	width: 154px;
	height: 52px;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	line-height: 52px;
	margin-bottom: 30px;
}
.sub-content__input-btn:hover {
	background-color: #104a4b;
}
.sub-content__agree {
	position: sticky;
	width: 407px;
	height: 26px;
	left: 356px;
	top: 420px;
}
.sub-content__confirm-text {
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.sub-image {
	margin-top: 65px;
	margin-right: 345px;
}

input[type="checkbox"] {
	height: 16px;
	width: 16px;
}
