<div class="subscribe__checkbox">
	<%- include("src/components/Subscribe/subscribe-btn.ejs", { title: 'Woman' , className: 'woman' }) %>
		<%- include("src/components/Subscribe/subscribe-btn.ejs", { title: 'Men' , className: 'man' }) %>
			<%- include("src/components/Subscribe/subscribe-btn.ejs", { title: 'Girls' , className: 'girls' }) %>
				<%- include("src/components/Subscribe/subscribe-btn.ejs", { title: 'Boys' , className: 'boys' }) %>
</div>