<div class="subscribe__card">
	<h2 class="subscribe__title">Subscribe for updates</h2>
	<span class="sunscribe__subtitle">Subscribe for exclusive early sale access and new arrivals.</span>
	<%- include("progetGeneral/src/components/Subscribe/subscribe-checkbox.ejs") %>
		<span class="subscribe__text">Email</span>
		<input type="email" placeholder="Your working email" name="" id="" class="subscribe__input">
		<button class="subscribe__input-button">Subscribe</button>
		<%- include("progetGeneral/src/components/Subscribe/subscribe-agree.ejs") %>
</div>