<div class="subscribe__agree-field">
	<input type="checkbox" name="" id="subscribe" class="eee">
	<label for="subscribe" class="subscribe__info">I agree to receive communications from
		Createx Store.</label>
</div>