.mobile-app-section{
    display: flex;
    flex-direction: row;
    background-color: #1E212C;
    justify-content: space-evenly;
}
.img-mobile-apps{
    border-radius: 8px;
    margin-right: 24px;
}
.title-mobile-apps{
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 50px;
    margin-top: 60px;
}
.mobile-apps{
    display: flex;
    flex-direction: row;
}
.img-mobile-app{
    margin-top: -20px;
}