<div class="mobile-app-section">
    <div class="img-mobile-app">
        <img src="/progetGeneral/src/img/mobile-apps-girl.svg" alt="">
    </div>
    <div>
        <p class="title-mobile-apps">Enjoy mobile shopping with our Createx <br> Store App!</p>
        <div class="mobile-apps">
            <div class="app-store">
                <a href="">
                    <img src="/progetGeneral/src/img/app-store.jpg" alt="" class="img-mobile-apps">
                </a>
            </div>
            <div class="google-store-app">
                <a href="">
                    <img src="/progetGeneral/src/img/google-play.jpg" alt="" class="img-mobile-apps">
                </a>
            </div>
        </div>
    </div>
</div>