<div class="line-wrap">
    <a href=""  class="left-line-link display-block">
    <img src="/progetGeneral/src/img/right-line.svg" alt="" class="left-line"/>
    </a> 
    <a href="" class="right-line-link display-block">
    <img src="/progetGeneral/src/img/left-line.svg" alt="" class="right-line " />
    </a>
</div>