.line-wrap{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: end;
    margin-right: 350px;
}
.left-line,
.right-line {
    padding: 18px 15px;
    margin-left: 15px;
}
.right-line:hover,
.left-line:hover{
    border-radius: 50%;
    background-color: #17696A;
}