<div class="foo-top-side">
	<span class="foo-diviver"></span>
	<div class="foo-createdby">© All rights reserved. Made with<img src="/img/heart.svg" alt=""
			class="foo-createdby__img"> <a href="#" class="foo-createdby__link">by Createx Studio</a>
	</div>
	<a href="#"><span class="foo-createdby__go-top">Go to top</span></a>
</div>