<div class="footer__columns">
	<ul class="footer__list">
		<li class="footer__item footer__list-title">HELP</li></a>
		<a href="#">
			<li class="footer__item">Delivery & returns</li>
		</a>
		<a href="#">
			<li class="footer__item">FAQ</li>
		</a>
		<a href="#">
			<li class="footer__item">Track order</li>
		</a>
		<a href="#">
			<li class="footer__item">Contacts</li>
		</a>
		<a href="#">
			<li class="footer__item">Blog</li>
		</a>
	</ul>
</div>