<div class="foo-content__item">
	<ul class="foo-content__list">
		<li class="foo-content__list-title">Download our app</li>
		<li class="foo-content__list-title">
			<div class="foo-content__list-item__social">
				<a href="#">
					<div class="list-item__social-item foo-apps">
						<img src="/public/img/Apple.svg" alt="" class="social-item-apple">
						<img src="/public/img/Apple-1.svg" alt="" class="social-item-apple1">
						<img src="/public/img/Apple-2.svg" alt="" class="social-item-apple2">
					</div>
				</a>
				<a href="#">
					<div class="list-item__social-item foo-apps">
						<img src="/public/img/Android.svg" alt="" class="social-item-android">
						<img src="/public/img/Android-1.svg" alt="" class="social-item-android1">
						<img src="/public/img/Android-2.svg" alt="" class="social-item-android2">
					</div>
				</a>
			</div>
		</li>
	</ul>
</div>