<div class="footer__columns">
	<ul class="footer__list">
		<li class="footer__item footer__list-title">Get in touch</li>
		<li class="footer__item"><span class="footer__item_white">Call:</span>
			<a href="tel:4055550128" class="footer__item">(405)
				555-0128</a>
		</li>
		<li class="footer__item"><span class="footer__item_white">Email:</span> <a href="mailto:hello@createx.com"
				class="footer__item">hello@createx.com</a>
		</li>
		<li class="footer__item">
			<%- include("src/components/footer/footer-social.ejs") %>

		</li>
	</ul>
</div>