<div class="footer__app">
	<a href="#">
		<div class="footer__logo footer__logo_size2">
			<img src="/progetGeneral/public/img/Apple.svg" alt="" class="footer__ios">
			<img src="/progetGeneral/public/img/Apple-1.svg" alt="" class="footer__ios1">
			<img src="/progetGeneral/public/img/Apple-2.svg" alt="" class="footer__ioson2">
		</div>
	</a>
	<a href="#">
		<div class="footer__logo footer__logo_size2">
			<img src="/progetGeneral/public/img/Android.svg" alt="" class="footer__android">
			<img src="/progetGeneral/public/img/Android-1.svg" alt="" class="footer__android1">
			<img src="/progetGeneral/public/img/Android-2.svg" alt="" class="footer__android2">
		</div>
	</a>
</div>