<div class="footer__social">
	<a href="#">
		<div class="footer__logo footer__facebook"></div>
	</a>
	<a href="#">
		<div class="footer__logo footer__instagram"></div>
	</a>
	<a href="#">
		<div class="footer__logo footer__twitter"></div>
	</a>
	<a href="#">
		<div class="footer__logo footer__youtube"></div>
	</a>
	<a href="#">
		<div class="footer__logo footer__print"></div>
	</a>
</div>