<div class="footer__columns">
	<ul class="footer__list">
		<li class="footer__item footer__list-title">Shop</li></a>
		<%- include("src/components/footer/footer__column-items.ejs", { title: 'Blog' }) %>
			<%- include("src/components/footer/footer__column-items.ejs", { title: 'Trending now' }) %>
				<%- include("src/components/footer/footer__column-items.ejs", { title: 'Sales' }) %>
					<%- include("src/components/footer/footer__column-items.ejs", { title: 'Brands' }) %>
	</ul>
</div>