<div class="foo-content__item">
	<ul class="foo-content__list">
		<li class="foo-content__list-title">Shop</li>
		<a href="#">
			<li class="foo-content__list-item">New arrivals</li>
		</a>
		<a href="#">
			<li class="foo-content__list-item">Trending now</li>
		</a>
		<a href="#">
			<li class="foo-content__list-item">Sales</li>
		</a>
		<a href="#">
			<li class="foo-content__list-item">Brands</li>
		</a>
	</ul>
</div>