<div class="footer__social">
	<% [
	{background: 'url(/progetGeneral/src/img/facebook.svg)'
	},
	{background: 'url(/progetGeneral/src/img/insta.svg)'
	},
	{background: 'url(/progetGeneral/src/img/twitter.svg)'
	},
	{background: 'url(/progetGeneral/src/img/YouTube.svg)'
	},
	{background: 'url(/progetGeneral/src/img/print.svg)'
	},
	].forEach((item, index) => {%>
		<%- include("progetGeneral/src/components/footer/footer__social-item.ejs", {
			background:item.background
		}) %>
		<%});%>
</div>