<div class="footer__columns">
	<ul class="footer__list">
		<li class="footer__item footer__list-title">Shop</li></a>
		<% [
		{title: 'Blog'
		},
		{title: 'Trending now'
		},
		{title: 'Sales'
		},
		{title: 'Brands'
		},
		].forEach((item, index) => {%>
			<%- include("progetGeneral/src/components/footer/footer__column-items.ejs", {
				title:item.title
			}) %>
			<%});%>
	</ul>
</div>