<div class="footer__createdby">
	<span class="footer__info">© All rights reserved. Made with</span>
	<div class="footer__heart"></div>
	<span class="footer__info">by <a href="#" class="footer__info">Createx Studio</a></span>
	<a href="#"><span class="footer__info footer__top-link">Go to top</span></a>
</div>