<div class="footer__columns">
	<ul class="footer__list">
		<li class="footer__item footer__list-title">Download our app</li>
		<li class="footer__item">
			<%- include("progetGeneral/src/components/footer/footer-app.ejs") %>
		</li>
	</ul>
</div>