<div class="categories">
  <p class="main-title">Popular categories</p>
  <ul class="categories-list">
    <li class="categories-list-item">
      <img src="/progetGeneral/src/img/categories1.jpg" alt="" class="categories-img" />
      <p class="categories-list-text">Tops</p>
    </li>
    <li class="categories-list-item">
      <img src="/progetGeneral/src/img/categories2.jpg" alt="" class="categories-img" />
      <p class="categories-list-text">T-shirts</p>
    </li>
    <li class="categories-list-item">
      <img src="/progetGeneral/src/img/categories3.jpg" alt="" class="categories-img" />
      <p class="categories-list-text">Caps</p>
    </li>
    <li class="categories-list-item">
      <img src="/progetGeneral/src/img/categories4.jpg" alt="" class="categories-img" />
      <p class="categories-list-text">Sandals</p>
    </li>
    <li class="categories-list-item">
      <img src="/progetGeneral/src/img/categories5.jpg" alt="" class="categories-img" />
      <p class="categories-list-text">Jackets</p>
    </li>
    <li class="categories-list-item">
      <img src="/progetGeneral/src/img/categories6.jpg" alt="" class="categories-img" />
      <p class="categories-list-text">Coats</p>
    </li>
  </ul>
</div>
