.categories-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.categories-list-item{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
}
.categories-img{
    border-radius: 50%;
    margin-bottom: 24px;
}
.categories-list-text{
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
}