<div class="fashion__column">
	<div class="card-fashion">
		<div class="card-fashion__pointer">
		</div>
		<div class="card-fashion__image">
			<a href="#">
				<img src="/public/img/card-right.jpg" alt="">
			</a>
		</div>
		<span><a href="#" class="card-fashion__title">Top 10 of This Season’s Hottest Sneakers</a></span>
		<div class="card-fashion__links">
			<a href="" class="card-fashion__link">Lifestyle</a>
			<span class="card-fashion__divider">|</span>
			<a href="#" class="card-fashion__link">July 16, 2020</a>
			<span class="card-fashion__divider">|</span>
			<a href="#" class="card-fashion__link">
				<div class="card-fashion__icon"></div>
			</a>
			<a href="#" class="card-fashion__link">4 comments</a>
		</div>
		<div class="card-fashion__text">Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus
			placerat vitae scelerisque. Rhoncus augue faucibus maecenas lacus...</div>
	</div>
</div>