<div class="card">
	<a href="#">
		<img src="/public/img/card-left.jpg" alt="" class="card__image">
	</a>
	<div><a href="#" class="card__title">Bag Trends for Summer 2020</a></div>
	<ul class="card__navy">
		<li><a href="#" class="card__navy-link">Fashion</a></li>
		<%- include("src/components/fashion-blog/devider.ejs") %>
			<li> <a href="#" class="card__navy-link">August 24, 2020</a></li>
			<%- include("src/components/fashion-blog/devider.ejs") %>
				<li class="card__navy-link">
					<a href="#" class="card__navy-link"><img src="/public/img/Vector.svg" alt="" class="comment-icon">No
						comments</a>
				</li>
	</ul>
	<div class="card__navy-text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
		aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...
	</div>
</div>