<div class="fb-card">
	<img src="/public/img/cursor.svg" alt="" class="fb-cursor">
	<a href="#">
		<img src="/public/img/card-right.jpg" alt="" class="fb-card__image"></a>
	<div><a href="#" class="fb-card__title fb-card__title-color">Top 10 of This Season’s Hottest Sneakers</a></div>
	<ul class="fb-card__navy">
		<li><a href="#" class="fb-card__navy-link">Lifestyle</a></li>
		<%- include("src/components/fashion-blog/devider.ejs") %>
			<li> <a href="#" class="fb-card__navy-link">July 16, 2020</a></li>
			<%- include("src/components/fashion-blog/devider.ejs") %>
				<li class="fb-card__navy-link">
					<a href="#" class="fb-card__navy-link"><img src="/public/img/Vector.svg" alt="" class="fb-comment-icon">4
						comments</a>
				</li>
	</ul>
	<div class="fb-card__navy-text">Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat
		vitae scelerisque. Rhoncus augue faucibus maecenas lacus...
	</div>

</div>