<div class="fashion__column">
	<div class="card-fashion">
		<div class="card-fashion__image">
			<a href="#">
				<img src="/public/img/card-left.jpg" alt="">
			</a>
		</div>
		<span><a href="#" class="card-fashion__title">Bag Trends for Summer 2020</a></span>
		<div class="card-fashion__links">
			<a href="#" class="card-fashion__link">Fashion</a>
			<span class="card-fashion__divider">|</span>
			<a href="#" class="card-fashion__link">August 24, 2020</a>
			<span class="card-fashion__divider">|</span>
			<a href="#" class="card-fashion__link">
				<div class="card-fashion__icon"></div>
			</a>
			<a href="#" class="card-fashion__link">No comments</a>
		</div>
		<div class="card-fashion__text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
			Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...</div>
	</div>
</div>