<div class="fashion">
	<%- include("src/components/fashion-blog/fashion-header.ejs") %>
		<div class="fashion__row">
			<%- include("src/components/fashion-blog/card1.ejs") %>
				<%- include("src/components/fashion-blog/card2.ejs") %>
		</div>
		<%- include("src/components/fashion-blog/fashion-brands.ejs") %>
</div>