<div class="fashion__brands">
	<a href="#">
		<div class="fashion__brands-logo logo-one"></div>
	</a>
	<a href="#">
		<div class="fashion__brands-logo logo-two"></div>
	</a>
	<a href="#">
		<div class="fashion__brands-logo logo-three"></div>
	</a>
	<a href="#">
		<div class="fashion__brands-logo logo-four"></div>
	</a>
	<a href="#">
		<div class="fashion__brands-logo logo-five"></div>
	</a>
	<a href="#">
		<div class="fashion__brands-logo logo-six"></div>
	</a>
</div>