<section class="container">
	<div class="title">
		<h2 class="title__text">Fashion blog</h2>
		<%- include("src/components/fashion-blog/button.ejs") %>
	</div>
	<div class="wrapper">
		<%- include("src/components/fashion-blog/card1.ejs") %>
			<%- include("src/components/fashion-blog/card2.ejs") %>
	</div>
	<div class="brand-logo">
		<a href="#"><img src="/public/img/logo-one.svg" alt=""></a>
		<a href="#"><img src="/public/img/logo-two.svg" alt=""></a>
		<a href="#"><img src="/public/img/logo-three.svg" alt=""></a>
		<a href="#"><img src="/public/img/logo-four.svg" alt=""></a>
		<a href="#"><img src="/public/img/logo-five.svg" alt=""></a>
		<a href="#"><img src="/public/img/logo-six.svg" alt=""></a>
	</div>
</section>