<div class="services-section">
    <ul class="services-list">
        <li class="services-list__item">
            <img src="/progetGeneral/src/img/service1.svg" alt="">
            <p class="title-service">Fast Worldwide Shipping</p>
            <p class="service-text">Get free shipping over $250</p>
        </li>
        <li class="services-list__item">
            <img src="/progetGeneral/src/img/service2.svg" alt="">
            <p class="title-service">24/7 Customer Support</p>
            <p class="service-text">Friendly 24/7 customer support</p>
        </li>
        <li class="services-list__item">
            <img src="/progetGeneral/src/img/service3.svg" alt="">
            <p class="title-service">Money Back Guarantee</p>
            <p class="service-text">We return money within 30 days</p>
        </li>
        <li class="services-list__item">
            <img src="/progetGeneral/src/img/service4.svg" alt="">
            <p class="title-service">Secure Online Payment</p>
            <p class="service-text">Accept all major credit cards</p>
        </li>
    </ul>
</div>