<a href="/progetGeneral/public/index.html"   class="breadcrumb__home-icon">
    <img src="/progetGeneral/src/img/home-icon.svg" alt="home-icon">
</a>
<img src="/progetGeneral/src/img/right-grey-line.svg" alt="line-right" class="breadcrumb__right">
<p class="breadcrumb__title">Women</p>
<img src="/progetGeneral/src/img/right-grey-line.svg" alt="line-right" class="breadcrumb__right">
<p class="breadcrumb__title-active">Clothes</p>