<div class="toolbar_wrap">
    <div class="toolbar__wrap-filter">
<p class="toolbar__title-filter">
        Sort by
    </p>
    <select name="select" class="toolbar__filter"> 
        <option value="value1" selected>popularity</option>
        <option value="value2">popularity</option>
        <option value="value3">popularity</option>
      </select>
    </div>
    <div class="toolbar__wrap-filter">
    <p class="toolbar__title-filter">
        Show
    </p>
    <input type="number" min="3" max="16" value="12" class="toolbar__filter-value">
    <p class="toolbar__title-value">
        products per page
    </p>
    </div> 
    <div class="toolbar__pagination">
        <ul class="toolbar__pagination-list">
            <li class="toolbar__pagination-list__item">
                <a href="" class="toolbar__pagination-list-link">
                    1
                </a>
            </li>
            <li class="toolbar__pagination-list__item">
                <a href="" class="toolbar__pagination-list-link">
                    2
                </a>
            </li>
            <li class="toolbar__pagination-list__item">
                <a href="" class="toolbar__pagination-list-link">
                    3
                </a>
            </li>
            <li class="toolbar__pagination-list__item">
                <a href="" class="toolbar__pagination-list-link">
                    ...
                </a>
            </li>
            <li class="toolbar__pagination-list__item">
                <a href="" class="toolbar__pagination-list-link">
                    10
                </a>
            </li>
            <li class="toolbar__pagination-list__item">
                <a href="" class="toolbar__pagination-list-link">
                    <img src="/progetGeneral/src/img/left-line.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>