<li class="banners-list_item <%- className %>">
    <p class="title-banner-list"> <%- titleBanners%></p>
    <p class="name-banner"> <%- nameBanners%></p>
    <button class="green-btn margin-left-60"><%- btnBanners%></button>
</li>