<div class="countdown">
    <h3 class="countdown__title">Limited time offer:</h3>
    <div class="countdown__content">
        <div class="countdown__time">
            <h3 class="countdown__value countdown__days">00</h3>
            <div class="countdown__text">Days</div>
        </div>
        <div class="countdown__time">
            <h3 class="countdown__value countdown__hours">00</h3>
            <div class="countdown__text">Hours</div>
        </div>
        <div class="countdown__time">
            <h3 class="countdown__value countdown__minutes">00</h3>
            <div class="countdown__text">Mins</div>
        </div>
        <div class="countdown__time">
            <h3 class="countdown__value countdown__seconds">00</h3>
            <div class="countdown__text">Sec</div>
        </div>
    </div>
</div>