
    <div class="container">
        <h2 class="main-title">New arrivals</h2>
        <p class="arrivals-subtitle">Check out our latest arrivals for the upcoming season <br>
            <span class='arrivals-subtitle__link'>See the collection here</span>
        </p>
    </div>