<section class="new-arrivals">
    <div class="container">
        <h2 class="arrivals-title">New arrivals</h2>
        <p class="arrivals-subtitle">Check out our latest arrivals for the upcoming season <br>
            <span class = 'arrivals-subtitle__link'>See the collection here</span>
            </p>
            <ul class="arrivals-list">
                <li class="arrivals-list_item">
                    <div class="arrivals-list_item-wrap">
                    <img src="./img/cap.jpg" alt="">
                    <img src="./img/heart.svg" alt="" class="arrivals-list_item-heart">
                    <div class="arrivals-list_item-wrap-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                </div>
                </div>
                    <p class="arrivals-list_item-txt">
                        Black and white sport cap
                    </p>
                    <p class="arrivals-list_item-price">
                        $18.15
                    </p>
                </li>
                <li class="arrivals-list_item">
                    <div class="arrivals-list_item-wrap">
                    <img src="./img/glasses.jpg" alt="">
                    <img src="./img/heart.svg" alt="" class="arrivals-list_item-heart">
                </div>
                    <p class="arrivals-list_item-txt">
                        Metal bridge sunglasses
                    </p>
                    <p class="arrivals-list_item-price">
                        $89.95
                    </p>
                </li>
                <li class="arrivals-list_item">
                    
                    <div class="arrivals-list_item-wrap">
                    <img src="./img/body.jpg" alt="">
                    <img src="./img/heart.svg" alt="" class="arrivals-list_item-heart">
                    <div class="arrivals-list_item-wrap-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                    <img src="./img/star-black.png" alt="" class="arrivals-list_item-star">
                    </div>
                </div>
                    <p class="arrivals-list_item-txt">
                        Green baby romper
                    </p>
                    <p class="arrivals-list_item-price">
                        $20.40
                    </p>
                </li>
                <li class="arrivals-list_item">
                    <div class="arrivals-list_item-wrap">
                    <img src="./img/jeans.jpg" alt="">
                    <img src="./img/heart.svg" alt="" class="arrivals-list_item-heart">
                </div>
                    <p class="arrivals-list_item-txt">
                        Mid-rise slim cropped fit jeans
                    </p>
                    <p class="arrivals-list_item-price">
                        $40.00
                    </p>
                </li>
                <li class="arrivals-list_item">
                    <div class="arrivals-list_item-wrap">
                    <img src="./img/earring.jpg" alt="">
                    <img src="./img/heart.svg" alt="" class="arrivals-list_item-heart">
                    <div class="arrivals-list_item-wrap-star">
                        <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                        <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                        <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                        <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                        <img src="./img/star.svg" alt="" class="arrivals-list_item-star">
                        </div>
                </div>
                    <p class="arrivals-list_item-txt">
                        Red dangle earrings
                    </p>
                    <p class="arrivals-list_item-price">
                        $29.95
                    </p>
                </li><li class="arrivals-list_item">
                    <div class="arrivals-list_item-wrap">
                    <img src="./img/child-shoe.jpg" alt="">
                    <img src="./img/heart.svg" alt="" class="arrivals-list_item-heart">
                </div>
                    <p class="arrivals-list_item-txt">
                        Baby shoes with laces
                    </p>
                    <p class="arrivals-list_item-price">
                        $30.60
                    </p>
                </li>
            </ul>
            <ul class="arrivals-bullets">
                <li class="arrivals-bullets__item">
                  <button class="arrivals-bullets_button"></button>
                </li>
                <li class="arrivals-bullets__item">
                  <button class="arrivals-bullets_button" ></button>
                </li>
                <li class="arrivals-bullets__item">
                  <button class="arrivals-bullets_button"></button>
                </li>
                <li class="arrivals-bullets__item">
                  <button class="arrivals-bullets_button" ></button>
                </li>
                <li class="arrivals-bullets__item">
                    <button class="arrivals-bullets_button "></button>
                  </li>
                  <li class="arrivals-bullets__item">
                    <button class="arrivals-bullets_button" ></button>
                  </li>
                  <li class="arrivals-bullets__item">
                    <button class="arrivals-bullets_button"></button>
                  </li>
                  <li class="arrivals-bullets__item">
                    <button class="arrivals-bullets_button"></button>
                  </li>
              </ul>
    </div>
</section>