<ul class="arrivals-bullets">
    <li class="arrivals-bullets__item arrivals-bullets__item-active">
      <button class="arrivals-bullets_button"></button>
    </li>
    <li class="arrivals-bullets__item">
      <button class="arrivals-bullets_button" ></button>
    </li>
    <li class="arrivals-bullets__item">
      <button class="arrivals-bullets_button"></button>
    </li>
    <li class="arrivals-bullets__item">
      <button class="arrivals-bullets_button" ></button>
    </li>
    <li class="arrivals-bullets__item">
        <button class="arrivals-bullets_button "></button>
      </li>
      <li class="arrivals-bullets__item">
        <button class="arrivals-bullets_button" ></button>
      </li>
      <li class="arrivals-bullets__item">
        <button class="arrivals-bullets_button"></button>
      </li>
      <li class="arrivals-bullets__item">
        <button class="arrivals-bullets_button"></button>
      </li>
  </ul>