<li class="sidebar-filter-list__item">
    <a href="" class="sidebar-filter-list__link">
        <p class="sidebar-filter-list__title"><%- titleFilter%></p>
        <span class="sidebar-filter-list__plus">+</span>
    </a>
</li>