.heart{
    position: absolute;
    top: 85%;
    right: 5%;
    background: #fff;
    color:  #787A80;
    border-radius: 50%;
    padding: 8px;
    }
  .wrap-star{
    position: absolute;
    top: 5%;
    right: 5%;
  }