<div class="wrap-star">
    <img src="/progetGeneral/src/img/star.svg" alt="" class="star">
    <img src="/progetGeneral/src/img/star.svg" alt="" class="star">
    <img src="/progetGeneral/src/img/star.svg" alt="" class="star">
    <img src="/progetGeneral/src/img/star.svg" alt="" class="star">
    <img src="/progetGeneral/src/img/star.svg" alt="" class="star">
</div>

