<ul class="slider-list">
    <li class="slider-list__item slider-list__item_active">01</li>
    <li class="slider-list__item">02</li>
    <li class="slider-list__item">03</li>
    <li class="slider-list__item">04</li>
</ul>