<div class="hero-section__text">
	<h3 class="hero-section__subtitle">
		<%- subtitle%>
	</h3>
	<h1 class="hero-section__title">
		<%- title%>
	</h1>
</div>
<img class="hero-section__slide-item" src="<%- img%>" alt="">