    <img class="hero-section__right" src="/progetGeneral/src/img/right-line.svg" alt="" srcset="">
    <img class="hero-section__left" src="/progetGeneral/src/img/left-line.svg" alt="" srcset="">
    <div class="hero-section__wrap">
        <h3 class="hero-section-subtitle">New collection</h3>
        <h1 class="hero-section-title">Menswear 2020</h1>
        <button class="green-btn">Shop sale</button>
        <button class="white-btn">Shop the menswear</button>
    </div>

