<ul class="hero-section-photo-list">
    <li class="hero-section-photo-list__item"><img class="hero-section-photo-list__item-img" src="/progetGeneral/src/img/women-hero-section.jpg" alt="">Women’s</li>
    <li class="hero-section-photo-list__item"><img class="hero-section-photo-list__item-img" src="/progetGeneral/src/img/men-hero-section.jpg" alt="">Men’s</li>
    <li class="hero-section-photo-list__item"><img class="hero-section-photo-list__item-img" src="/progetGeneral/src/img/child-hero-section.jpg" alt="">Kids’</li>
</ul>