<div class="tranding">
    <p class="main-title align-left margin-left">Trending now</p>
    <%- include("progetGeneral/src/components/lines-components/line.ejs") %>
    <%- include("progetGeneral/src/components/tranding-section/tranding-list.ejs") %>
    <button class="green-btn align-center display-block">Explore top sales</button>
</div>