<ul class="tranding-list">
    <li class="categories-list__item">
        <a href="" class="tranding-list-link">
            <img src="/progetGeneral/src/img/trending1.jpg" alt="" class="tranding-img" />
            <p class="tranding-list-text">Shirt with insertion lace trims</p>
            <p class="tranding-list-price">$49.95</p>
            <%- include("progetGeneral/src/components/like-components/stars5.ejs") %>
            <%- include("progetGeneral/src/components/like-components/like.ejs") %>
        </a>
    </li>
    <li class="tranding-list__item">
        <a href="" class="tranding-list-link">
            <img src="/progetGeneral/src/img/trending2.jpg" alt="" class="tranding-img" />
            <p class="tranding-list-text">Chrono watch with blue leather belt</p>
            <p class="tranding-list-price">$120.60</p>
            <%- include("progetGeneral/src/components/like-components/stars4.ejs") %>
            <%- include("progetGeneral/src/components/like-components/like.ejs") %>
        </a>
    </li>
    <li class="tranding-list__item">
        <a href="" class="tranding-list-link">
            <img src="/progetGeneral/src/img/trending3.jpg" alt="" class="tranding-img" />
            <p class="tranding-list-text">Check coat with colour contrast</p>
            <p class="tranding-list-price">$183.45</p>
        </a>
    </li>
</ul>