<div class="instagram-section">
    <div class="our-instagram">
        <p class="text-instagram-section">
            Follow us on Instagram
        </p>
        <p class="title-instagram-section">
            @createx_store
        </p>
        <button class="green-btn display-flex">
            <img src="/progetGeneral/src/img/Instagram.svg" alt="" class="icon-inst">
            Follow instagram
        </button>
    </div>
    <ul class="instagram-img-list">
        <li class="instagram-img-list__item">
            <img src="/progetGeneral/src/img/instagram1.jpg" alt="" class="instagram-img">
        </li>
        <li class="instagram-img-list__item">
            <img src="/progetGeneral/src/img/instagram2.jpg" alt="" class="instagram-img">
        </li>
        <li class="instagram-img-list__item">
            <img src="/progetGeneral/src/img/instagram3.jpg" alt="" class="instagram-img">
        </li>
    </ul>
    </div>
</div>