<img class="header-menu-img" src="/progetGeneral/src/img/logo.svg" alt="">
<ul class="header-menu-list">
    <li class="header-menu-list__item">Women</li>
    <li class="header-menu-list__item">Men</li>
    <li class="header-menu-list__item">Girls</li>
    <li class="header-menu-list__item">Boys</li>
    <li class="header-menu-list__item header-menu-list__item_active">Sale</li>
</ul>
<form class="menu-search">
    <input class="menu-search-text" type="text" placeholder="Search for products">
  </form>
  <div class="header-saved">
      <img class="header-saved-img" src="/progetGeneral/src/img/heart.svg" alt=""> 
      2
  </div>
  <div class="header-basket">
      <img class="header-basket-img" src="/progetGeneral/src/img/basket.svg" alt="">
      <span class="header-basket-number">4</span>
  </div>