<div class="sing-in">
	<div class="sing-in__wrapper">
		<div class="sing-in__cross"></div>
		<h2 class="sing__title">Sign in</h2>
		<h3 class="sing__subtitle">Sign in to your account using email and password provided during
			registration.</h3>
		<div>
			<form action="">
				<div class="sing__email">
					<label class="sing__field-text" for="sing-in-email">Email</label>
					<input class="sing__field" placeholder="Your working email" type="email" id="sing-in-email" required>
				</div>
				<div>
					<label class="sing__field-text" for="sing-in-pass">Password</label>
					<div class="sing__password-form">
						<input class="sing__field sing__field-in" placeholder="Enter password" value="omg@wtf.zanzibar"
							type="password" id="sing-in-pass" required>
						<div class="sing__password-img sing__in"></div>
					</div>
				</div>
				<div class="sing_checkbox-wrapper">
					<div>
						<input type="checkbox" id="remember-me">
						<label class="sing__remember" for="remember-me">Remember me</label>
					</div>
					<a class="sing_checkbox-link" href="#">Forgot password?</a>
				</div>
				<button type="submit" class="sing__checkbox-btn">Sign in</button>
				<p class="sing__text">Don't have an account? <a class="sing__link_up" href="#">Sing
						up</a></p>
			</form>
			<div class="sing__diviver"></div>
			<div class="sing__social">
				<p class="sing__social-title">Or sign in with</p>
				<%- include("progetGeneral/src/components/header/header-social-list.ejs") %>
			</div>
		</div>
	</div>
</div>