<div class="carousel-header">
	<img class="carousel-header-img carousel-header__previousli" src="/progetGeneral/src/img/Line-left.svg" alt="">
	<div class="carousel-header-text carousel-header-text_active">Up to 70% Off. <a class="carousel-header-link" href="">
			Shop our latest sale styles</a></div>
	<span class="carousel-header-text">Money back guarantee. <a class="carousel-header-link" href="">Learn
			more</a></span>
	<span class="carousel-header-text">Friendly customer suppert. <a class="carousel-header-link" href="">Contact
			24/7</a></span>
	<img class="carousel-header-img carousel-header__next" src="/progetGeneral/src/img/Line-right.svg" alt="">
</div>