<div class="sing-up">
	<div class="sing-up__wrapper">
		<div class="sing-up__cross"></div>
		<h2 class="sing__title">Sign up</h2>
		<h3 class="sing__subtitle">Registration takes less than a minute but gives you full control over your
			orders.</h3>
		<div>
			<form action="">
				<div>
					<label class="sing__field-text" for="sing-up-fullname">Full Name</label>
					<input class="sing__field" placeholder="Your full name" type="text" id="sing-up-fullname" required>
				</div>
				<div class="sing__email">
					<label class="sing__field-text" for="sing-up-email">Email</label>
					<input class="sing__field" placeholder="Your working email" type="email" id="sing-up-email" required>
				</div>
				<div>
					<label class="sing__field-text" for="sing-up-pass">Password</label>
					<div class="sing__password-form">
						<input class="sing__field sing__field-up_one" placeholder="Enter password" type="password"
							value="omg@wtf.zanzibar" id="sing-up-pass" required>
						<div class="sing__password-img sing__up_one"></div>
					</div>
				</div>
				<div class="sing-up__password">
					<label class="sing__field-text" for="sing-up-pass">Confirm Password</label>
					<div class="sing__password-form">
						<input class="sing__field sing__field-up_two" placeholder="Enter password" type="password"
							value="omg@wtf.zanzibar" id="sing-up-pass" required>
						<div class="sing__password-img sing__up_two"></div>
					</div>
				</div>
				<div class="sing_checkbox-wrapper sing_checkbox-wrapper_up">
					<div>
						<input type="checkbox" id="remember-me">
						<label class="sing__remember" for="remember-me">Remember me</label>
					</div>
				</div>
				<button type="submit" class="sing__checkbox-btn">Sign up</button>
				<p class="sing__text">Already have an account? <a class="sing__link_in" href="#">Sign
						in</a>
				</p>
			</form>
			<div class="sing__diviver"></div>
			<div class="sing__social">
				<p class="sing__social-title">Or sign in with</p>
				<ul class="sing__social-list">
					<li><a href="https://uk-ua.facebook.com/">
							<div class="sing__social-items sing__social-items_one"></div>
						</a> </li>
					<li><a href="https://www.google.com/">
							<div class="sing__social-items sing__social-items_two"></div>
						</a> </li>
					<li><a href="https://twitter.com/i/flow/login">
							<div class="sing__social-items sing__social-items_three"></div>
						</a> </li>
					<li><a href="https://www.linkedin.com/login/ru">
							<div class="sing__social-items sing__social-items_four"></div>
						</a> </li>
				</ul>
			</div>
		</div>
	</div>
</div>