<img class="carousel-header-img" src="/progetGeneral/src/img/Line-left.svg" alt="">
    <span class="carousel-header-text">Up to 70% Off. </span>
   <a class="carousel-header-link" href=""> Shop our latest sale styles</a>
   <img class="carousel-header-img" src="/progetGeneral/src/img/Line-right.svg" alt="">