.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 11px 0;
  background-color: #1E212C;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-list__item {
  margin-right: 16px;
  margin-left: 16px;
}

.header-nav__tel,
.nav-list,
.header-lang {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  opacity: 0.6;
}

.lang-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-nav__tel-link {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  opacity: 0.6;
}

.header-login {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-left: 70px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 60px;
  margin-right: 130px;
}

.header-menu-list__item {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}

.header-saved {
  margin-left: 50px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.322);
}

.header-menu-list__item_active {
  color: #FF4242;
}

.menu-search-text {
  font-size: 14px;
  line-height: 1.5;
  padding: 11px 235px 12px 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
}

.header-saved-img {
  margin-right: 9px;
}

.header-basket-img {
  margin-right: 10px;
}

.header-basket-number {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  background: #03CEA4;
  border-radius: 4px;
  padding: 6px 10px;
}

.carousel-header {
  text-align: center;
  background: #17696A;
  padding-top: 8px;
  padding-bottom: 8px;
}

.carousel-header-text {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
}

.carousel-header-link {
  font-size: 12px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.carousel-header-img {
  padding-right: 18px;
  padding-left: 18px;
}

.header-menu-list__item-mod {
  color: #17696A;
}
/*# sourceMappingURL=header.css.map */