html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.new-arrivals {
  position: relative;
  margin-top: 550px; }

.arrivals-list {
  display: flex; }

.arrivals-subtitle {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #787A80;
  margin-bottom: 45px; }

.arrivals-subtitle__link {
  color: #17696A;
  text-decoration: underline; }

.arrivals-list_item {
  margin: 15px; }

.arrivals-list_item-txt {
  font-size: 18px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 8px; }

.arrivals-list_item-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  color: #1E212C; }

.arrivals-list_item-wrap {
  position: relative; }

.arrivals-bullets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 180px; }

.arrivals-bullets_button {
  border: 2px solid #B3B7BC;
  background-color: #B3B7BC;
  padding: 0 12px;
  margin-right: 12px;
  border-radius: 8px; }

.arrivals-bullets__item-active {
  color: #424551; }

.banners-list {
  display: grid;
  grid-template-rows: 500px 500px;
  gap: 16px;
  margin-bottom: 180px;
  position: relative; }

.banners-list_item-bg1 {
  grid-column: 1 / 2;
  background-size: 100% 100%;
  background-image: url("/progetGeneral/src/img/women-banner.jpg");
  background-repeat: no-repeat; }

.banners-list_item-bg2 {
  grid-column: 2 / 4;
  background-size: 100% 100%;
  background-image: url("/progetGeneral/src/img/man-banner.jpg");
  background-repeat: no-repeat; }

.banners-list_item-bg3 {
  grid-column: 1 / 3;
  background-size: 100% 100%;
  background-image: url("/progetGeneral/src/img/shoes-banner.jpg");
  background-repeat: no-repeat; }

.banners-list_item-bg4 {
  grid-column: 3 / 4;
  background-color: #E5E8ED;
  background-size: 60% 60%;
  border-radius: 4px;
  background-image: url("/progetGeneral/src/img/delivery-man.svg");
  background-repeat: no-repeat;
  background-position: right bottom; }

.title-banner-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-top: 60px;
  margin-left: 60px; }

.name-banner {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #1E212C;
  margin-top: 12px;
  margin-left: 60px;
  margin-bottom: 40px; }

.countdown {
  position: absolute;
  margin-left: 60px;
  margin-top: 78px; }

.countdown__title {
  color: #1e212c;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px; }

.countdown__content {
  width: 209px;
  height: 67px;
  display: flex;
  justify-content: space-between;
  text-align: center; }

.countdown__value {
  font-weight: bold;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 4px;
  width: 33px;
  height: 42px; }

.countdown__text {
  color: #1e212c;
  font-size: 14px;
  line-height: 150%; }

.categories-list {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.categories-list-item {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px; }

.categories-img {
  border-radius: 50%;
  margin-bottom: 24px; }

.categories-list-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C; }

.tranding-list {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.tranding {
  background-color: #E5E8ED;
  margin-top: 180px;
  margin-bottom: 100px;
  padding-bottom: 80px; }

.tranding-list-link {
  display: flex;
  flex-direction: column;
  margin: 60px 15px 98px;
  position: relative; }

.tranding-list-text {
  font-size: 18px;
  line-height: 150%;
  color: #424551;
  margin-top: 8px; }

.tranding-list-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #1E212C; }

.tranding-img {
  width: 100%;
  height: auto; }

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto; }

.green-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #17696A;
  border: 1px solid #17696A;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding: 0 40px;
  margin-right: 24px; }

.white-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  background: #17696A;
  border: 1px solid #17696A;
  border-radius: 4px;
  padding: 0 40px; }

.white-btn:hover {
  background-color: #072020; }

.green-btn:hover {
  background-color: #17696A;
  color: #fff; }

a:hover,
a:active {
  color: #39e9ec; }

.margin-left-60 {
  margin-left: 60px; }

.main-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1E212C;
  text-align: center;
  margin-bottom: 24px; }

.align-left {
  text-align: left; }

a {
  text-decoration: none; }

.align-center {
  margin-left: auto;
  margin-right: auto; }

.display-block {
  display: block; }

.margin-left {
  margin-left: 20%; }

.align-items-start {
  align-self: flex-start; }

.display-flex {
  display: flex;
  align-items: center; }

.sale-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px; }

.sale-list__item {
  margin-right: 15px;
  margin-left: 15px;
  position: relative; }

.sale-list {
  margin-top: 60px;
  margin-bottom: 98px;
  display: flex;
  flex-direction: row; }

.sale-list-text {
  font-size: 18px;
  line-height: 150%;
  color: #424551;
  margin-top: 16px;
  margin-bottom: 8px; }

.sale-list-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  align-items: center;
  color: #FF4242; }

.sale-list-old-price {
  text-decoration-line: line-through;
  color: #787A80;
  padding-left: 12px; }

.sale-value {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  background: #FF4242;
  border-radius: 4px;
  padding: 1px 8px;
  position: absolute;
  margin-top: 16px;
  margin-left: 16px; }

.line-wrap {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-self: end;
  margin-right: 350px; }

.left-line,
.right-line {
  padding: 18px 15px;
  margin-left: 15px; }

.right-line:hover,
.left-line:hover {
  border-radius: 50%;
  background-color: #17696A; }

.heart {
  position: absolute;
  top: 85%;
  right: 5%;
  background: #fff;
  color: #787A80;
  border-radius: 50%;
  padding: 8px; }

.wrap-star {
  position: absolute;
  top: 5%;
  right: 5%; }

.mobile-app-section {
  display: flex;
  flex-direction: row;
  background-color: #1E212C;
  justify-content: space-evenly; }

.img-mobile-apps {
  border-radius: 8px;
  margin-right: 24px; }

.title-mobile-apps {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 50px;
  margin-top: 60px; }

.mobile-apps {
  display: flex;
  flex-direction: row; }

.img-mobile-app {
  margin-top: -20px; }

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 180px; }

.title-service {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-top: 24px; }

.service-text {
  font-size: 16px;
  line-height: 160%;
  color: #787A80; }

.services-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
  margin-left: 45px; }

.instagram-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 180px; }

.our-instagram {
  display: flex;
  flex-direction: column;
  margin-right: 80px; }

.instagram-img-list {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.instagram-img-list__item {
  margin-left: 15px; }

.title-instagram-section {
  margin-bottom: 60px;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C; }

.text-instagram-section {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C; }

.icon-inst {
  padding-right: 5px; }

.breadcrumb_women {
  background: #F4F5F7;
  display: flex;
  align-items: center; }

.breadcrumb__title,
.breadcrumb__title-active {
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin: 16px 13px; }

.breadcrumb__title-active {
  color: #9A9CA5; }

.breadcrumb__home-icon {
  display: block;
  margin-right: 14px;
  margin-left: 10%; }

.breadcrumb__right {
  color: #9A9CA5; }

.product-section {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  margin-bottom: 180px; }

.toolbar_wrap {
  display: flex;
  align-items: center;
  justify-content: start; }

.products {
  width: 75%; }

.toolbar__title-filter {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #424551; }

.toolbar__title-value {
  font-size: 14px;
  line-height: 150%;
  color: #787A80; }

.toolbar__pagination-list__item {
  margin-left: 20px; }

.toolbar__pagination-list-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #424551; }
  .toolbar__pagination-list-link:hover {
    color: #17696A; }

.toolbar__pagination-list {
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  justify-content: space-between; }

.toolbar__wrap-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px; }

.toolbar__filter,
.toolbar__filter-value {
  margin-left: 12px;
  margin-right: 12px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  line-height: 150%;
  color: #424551;
  padding: 11px 90px 12px 16px; }

.toolbar__filter-value {
  padding-right: 20px; }

.none {
  display: none; }

.block {
  display: block; }

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 44px; }

.product-list_item {
  width: 30%;
  height: 405px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: end; }

.product-list_item-txt {
  font-size: 18px;
  line-height: 150%;
  color: #424551; }

.product-list_item-price,
.product-list_item-price-mod {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #1E212C; }

.product-list_item-price-mod {
  color: #FF4242; }

.product_sweater {
  background-image: url(/progetGeneral/src/img/trending1.jpg);
  background-size: 100% 100%; }

.product_jeans {
  background-image: url(/progetGeneral/src/img/jeans.jpg);
  background-size: 100% 100%; }

.product_cap {
  background-image: url(/progetGeneral/src/img/cap.jpg);
  background-size: 100% 100%; }

.product_body {
  background-image: url(/progetGeneral/src/img/body.jpg);
  background-size: 100% 100%; }

.product_coat {
  background-image: url(/progetGeneral/src/img/trending3.jpg);
  background-size: 100% 100%; }

.product_earrings {
  background-image: url(/progetGeneral/src/img/earring.jpg);
  background-size: 100% 100%; }

.product_clock {
  background-image: url(/progetGeneral/src/img/trending2.jpg);
  background-size: 100% 100%; }

.product_child_shoes {
  background-image: url(/progetGeneral/src/img/child-shoe.jpg);
  background-size: 100% 100%; }

.product_sweatshirt {
  background-image: url(/progetGeneral/src/img/sweater.jpg);
  background-size: 100% 100%; }

.product_skinny_jeans {
  background-image: url(/progetGeneral/src/img/sale2.jpg);
  background-size: 100% 100%; }

.product_bag {
  background-image: url(/progetGeneral/src/img/sale1.jpg);
  background-size: 100% 100%; }

.product_shoes {
  background-image: url(/progetGeneral/src/img/shoes.jpg);
  background-size: 100% 100%; }

.product-list_item-wrap {
  margin-bottom: -76px; }

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center; }

.toolbar__btn {
  padding: 0 65px;
  height: 44px;
  width: 65%; }

.sidebar__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  margin-top: 32px;
  margin-bottom: 16px; }

.sidebar__filter-search {
  padding: 9px 92px 9px 12px;
  border: 1px solid #D7DADD;
  box-sizing: border-box;
  border-radius: 4px; }

.sidebar__search-img {
  position: absolute;
  right: 15%;
  top: 20%; }

.sidebar-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 65%; }

.sidebar__search-wrap {
  position: relative;
  margin-bottom: 16px; }

.sidebar__filter-list__item {
  margin-bottom: 8px; }

.filter-item-text {
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-left: 8px; }

.filter-item-valye {
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5; }

.sidebar-filter-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #E5E8ED; }

.sidebar-filter-list__link {
  display: flex;
  justify-content: space-between; }

.sidebar-filter-list {
  width: 65%; }

.sidebar-filter-list__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C; }

.sidebar-filter-list__plus {
  color: #17696A; }
